.content {
    position: relative;
    text-align: left;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    margin-right: 20%;
    margin-bottom: 10%;
}

.intro {
  width: 80%;
  margin: auto;
  top: 10%;
  margin-top: 30%;
  margin-bottom: 10%;
}

.header {
  position: fixed; 
  top: 10%; 
  left: 10%; 
  margin-top: 10rem;
}

.header-button {
    align-items: left;
    border: none;
    border-radius: 10%;
    background-color: #BAB285;
    width: 10rem;
    height: 2rem;
    margin-bottom: 20%;
    font-family: Source Serif Pro;
    font-weight: 400;
    font-size:1rem;
}

.header-button:hover {
  font-weight: bold;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  background-color: #EEE2DC;
}
.button {
  position: relative;
  left: 50%;
  margin-top: 15%;
  border: solid #123C69;
  border-width: 0 8px 8px 0;
  background-color: #EEE2DC;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.button:hover {
  cursor: pointer;
}
