@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Nunito&display=swap');

h1 {
  font-family: 'Nunito', sans-serif;
}
body {
  margin: 0;
  font-family: 'Actor', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEE2DC;
}

code {
  font-family: 'Actor', sans-serif;
}
