@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Nunito&family=Source+Serif+Pro&display=swap');

h1 {
  font-family: 'Actor', sans-serif;
  color: #b21807;
  text-align: center;
  font-size:3rem;
  margin-bottom:2rem;
}
h2, h3 {
  font-family: 'Actor', sans-serif; 
}
p {
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}
body {
  background-color: #E3E7F1;
  margin: 0;
  font-family: 'Actor', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1D3557;
}

code {
  font-family: 'Actor', sans-serif;
}
